<div class="col-md-12">
	<ol class="breadcrumb">
		<li><%= link_to 'Hidden Tables', hidden_tables_path %></li>
		<li class="active"> New</li>
	</ol>


  <div class="row">
    <div class="col-sm-6">

      <h1>Add Hidden Table</h1>

      <%= bootstrap_form_for(@hidden_table, as: :hidden_table, url: hidden_tables_path, style: :vertical) do |f| %>
        <div class="panel panel-default">
          <div class="panel-heading">General</div>
          <div class="panel-body">
            <%= f.text_field :name %>
          </div>
        </div>

        <%= f.form_group do %>
          <%= f.submit nil %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>